// html {
//     overflow-y: scroll;
//   }


// .panel {
//     border: 0;
// }

// textarea {
//     resize: none;
// }

table th {
    background-color: lightskyblue;
}

// .margin-bottom {
//     margin-bottom:15px;
// }

 .Late {
    color: blue;
}

.Early{
    color: red;
}

.OnTime{
    color: green;
}

// a.collapsed span {
//     transform: rotate(-180deg);
// }